<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <ul class="nav">
      <li>
        <%= link_to 'Home', home_path, class: 'nav-link' %>
      </li>
      <li>
        <%= link_to 'About', about_path, class: 'nav-link' %>
      </li>
      <li>
        <%= link_to '12 Lizards', lizards_path(12), class: 'nav-link' %>
      </li>
      <li>
        <%= link_to '444 Lizards', lizards_path(444), class: 'nav-link' %>
      </li>
      <li>
        <%= link_to '9672 Lizards', lizards_path(9672), class: 'nav-link' %>
      </li>
      <li>
        <%= link_to 'Characters', show_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
